# general data files (track manually)
*.csv

# Proteomics data files
*.raw
*.mzML
*.mzXML
*.mzTab

# logs
*.log
*.log.*

# local mac files
*.DS_Store

# local results folder
results/

# local nextflow cache folder
.nextflow/
work/
